body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    font-family: sans-serif;
}

header {
    width: 100%;
    text-align: center;
    margin: 2rem 0;

    min-width: 500px;
}

#title {
    margin: 0.25rem;
}

#description {
    font-style: italic;
    margin: unset;
}

form {
    width: 50%;
    min-width: 500px;
    max-width: 600px;
    margin: auto;
}

fieldset {
    margin-top: 1em;
    padding: 0 2em 2em 2em;
}

label {
    display: block;
    margin-top: 1em;
}

input, select, textarea {
    width: 100%;
}

textarea {
    min-height: 50px;
    resize: vertical;
}

.legend {
    font-weight: 700;
    font-style: italic;
}

.p-label {
    margin: 1em 0 .25em;
}

label, .legend, .p-label {
    font-size: 20px;
}

.label-unset {
    margin-top: .25rem;
}

input[type="radio"], input[type="checkbox"], input[type="submit"] {
    width: unset;
}

.submit-space {
    padding: 1rem;
    width: 100%;
}

#submit {
    display: block;
    margin: auto;
}